<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="/news/">All Blogs</a>
      </li>
      <li class="{% if page.title == 'git' %}current{% endif %}">
        <a href="/news/git/">Git Relelated</a>
      </li>
    </ul>
    <h4>Recent Blogs</h4>
    <ul>
      {% for post in site.posts limit:10 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
      <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
